#end_div{
    background-color: #5472d4;
    width: 40vw;
    height: 60vh;
    min-width: 300px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}